body {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

footer {
  height: 110px;
  background-color: #105040;
}

footer div {
  color: rgb(255,255,255);
  font-size: 18px;
  margin: auto;
  width: 400px;
  text-align: center;
  position: relative;
  top: 5px;
}

footer img {
  position: relative;
  display: block;
  margin: auto;
  top: 15px;
}

h1 {
  color: #105040;
}

b {
  color: #105040;
}

a {
  color: black;
  text-decoration: none;
}

p {
  color: black;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}

hr {
  border: none;
  background-color: #105040;
  height: 5px;
}

li {
  list-style: none;
  text-align: center;
}

textarea {
  box-sizing: border-box;
  position: relative;
  width: 500px;
  height: 230px;
  resize: none;
  right: 153px;
}

.no-padding {
  padding:0;
}

.nav_bar_top li {
  display: inline-block;
  background-color: #118f70;
}

.nav_bar_top li:hover {
  background-color: #105040;
}

.home_main_info {
  text-align: center;
}

.logo_holder {
  display: block;
  text-align: center;
}

.logo {
  width: 250px;
}

.nav_bar_top {
  margin: 0 auto;
  width: 500px;
}

.nav_bar_top ul{
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav_link {
  font-size: 18px;
  display: inline-block;
  margin-left: -2px;
  margin-right: -2px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.center-text {
  margin: auto;
  text-align: center;
  width: 600px;
  font-size: 17px;
  padding-bottom: 30px;
}

.email-form {
  display: inline-block;
  position: relative;
  top: 30px;
  height: 431px;
  width: 200px;
}
